In [2]:
from src.neural_networks import RNN
import pandas as pd
import tensorflow as tf

In [3]:
df = pd.read_csv('../data/kaggle_labeled_tweets.csv',delimiter=r'\t',names=['label','text'])
df['text'] = df.text.map(lambda x: x.strip())
df.head()

/home/michael/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   label                                               text
0      1                   Vinci Code book is just awesome.
1      1  this was the first clive cussler i've ever rea...
2      1                   i liked the Da Vinci Code a lot.
3      1                   i liked the Da Vinci Code a lot.
4      1  I liked the Da Vinci Code but it ultimatly did...

In [4]:
from sklearn.utils import shuffle
X,y = shuffle(df.text,df.label)
rnn = RNN(n_epochs=10)

In [5]:
rnn.fit(X,y)

7024 7024 7024
running

/home/michael/Documents/galvanize/capstone/Twitter-Sentiment-Analysis/notebooks/src/neural_networks.py:145: RuntimeWarning: invalid value encountered in double_scalars
  f1_score = 2*p*r/(p+r)

Testing Loss=0.8304, testing accuracy=0.4000, f1=nan
Testing Loss=0.5428, testing accuracy=0.6334, f1=0.69076
Testing Loss=0.6708, testing accuracy=0.6489, f1=0.70007
Testing Loss=0.5853, testing accuracy=0.6390, f1=0.71822
Testing Loss=0.5408, testing accuracy=0.6760, f1=0.72690
Testing Loss=0.5322, testing accuracy=0.7739, f1=0.81104
Testing Loss=0.4053, testing accuracy=0.8179, f1=0.84873
Testing Loss=0.3519, testing accuracy=0.8502, f1=0.87618
Testing Loss=0.3653, testing accuracy=0.8554, f1=0.87896
Testing Loss=0.3831, testing accuracy=0.8507, f1=0.87528

In [12]:
df2 = pd.read_csv('../data/training.1600000.processed.noemoticon.csv',encoding='iso8859',
                 names=['sentiment','user_id','date','query','user','tweet'])
df2.head()

,sentiment,user_id,date,query,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [14]:
df2.sentiment.mean()

2.0

In [18]:
df2.tweet.head(100)

0     @switchfoot http://twitpic.com/2y1zl - Awww, t...
1     is upset that he can't update his Facebook by ...
2     @Kenichan I dived many times for the ball. Man...
3       my whole body feels itchy and like its on fire
4     @nationwideclass no, it's not behaving at all....
5                         @Kwesidei not the whole crew
6                                           Need a hug
7     @LOLTrish hey  long time no see! Yes.. Rains a...
8                  @Tatiana_K nope they didn't have it
9                             @twittera que me muera ?
10          spring break in plain city... it's snowing
11                           I just re-pierced my ears
12    @caregiving I couldn't bear to watch it.  And ...
13    @octolinz16 It it counts, idk why I did either...
14    @smarrison i would've been the first, but i di...
15    @iamjazzyfizzle I wish I got to watch it with ...
16    Hollis' death scene will hurt me severely to w...
17                                 about to file taxes
18    @LettyA ahh ive always wanted to see rent  lov...
19    @FakerPattyPattz Oh dear. Were you drinking ou...
20    @alydesigns i was out most of the day so didn'...
21    one of my friend called me, and asked to meet ...
22     @angry_barista I baked you a cake but I ated it
23               this week is not going as i had hoped
24                           blagh class at 8 tomorrow
25       I hate when I have to call and wake people up
26    Just going to cry myself to sleep after watchi...
27                               im sad now  Miss.Lilly
28    ooooh.... LOL  that leslie.... and ok I won't ...
29    Meh... Almost Lover is the exception... this t...
                            ...
70    @jdarter Oh! Haha... dude I dont really look a...
71    @ninjen I'm sure you're right...    I need to ...
72    i really hate how people diss my bands!  Trace...
73    Gym attire today was: Puma singlet, Adidas sho...
74    Why won't you show my location?!   http://twit...
75              No picnic  my phone smells like citrus.
76    @ashleyac My donkey is sensitive about such co...
77                             No new csi tonight.  FML
78                i think my arms are sore from tennis
79    wonders why someone that u like so much can ma...
80    sleep soon... i just hate saying bye and see y...
81    @statravelAU just got ur newsletter, those far...
82                                     missin' the boo
83                          @markhardy1974 Me too  #itm
84    Damn... I don't have any chalk! MY CHALKBOARD ...
85    had a blast at the Getty Villa, but hates that...
86      @msdrama hey missed ya at the meeting  sup mama
87    My tummy hurts.  I wonder if the hypnosis has ...
88                     why is it always the fat ones?!
89    @januarycrimson Sorry, babe!!  My fam annoys m...
90    @Hollywoodheat I should have paid more attenti...
91          wednesday my b-day! don't know what 2 do!!
92                            Poor cameron (the hills)
93    pray for me please, the ex is threatening to s...
94    @makeherfamous hmm  , do u really enjoy being ...
95    Strider is a sick little puppy  http://apps.fa...
96    so rylee,grace...wana go steve's party or not?...
97    hey, I actually won one of my bracket pools! T...
98    @stark YOU don't follow me, either  and i work...
99    A bad nite for the favorite teams: Astros and ...
Name: tweet, Length: 100, dtype: object